@charset "UTF-8";
@import '../css/normalize';
@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter/static/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
}

:root {
    --yval: 100%;
    --font-fallback: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-size: 10px;
    height: 100%;
}

body {
    font-size: 1.2em;
    font-size: clamp(1.2rem, 0.6rem + 0.9vw, 4rem);
    // font-family: 'Inter', sans-serif;
    font-family: 'Inter', var(--font-fallback);
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #060433;
    // height: 100%;
    font-weight: 600;
}
h1, h2, h3, h4 {
    font-weight: inherit;
}
h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.6em;
}

h3 {
    font-size: 2.4em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.7em;
}

h6 {
    font-size: 1em;
}

p {
    margin: 2rem 0;
    font-size: 1.2em;
}

.clr {
    color: rgb(6, 243, 249);
}
svg * {
    transform-box: fill-box;
    transform-origin: center;
}

.scrd {
    position: absolute;
    height: 1px;
    width: 1px;
    clip: rect(1px 1px 1px 1px); // IE 6 and 7
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    overflow: hidden !important;
}


.h {
    width: 100%;
    color: #fff;
    z-index: 2;

    >div {
        min-height: 100vh;
        min-height: 100svh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        padding: 2% 5%;
        @media screen and (orientation: portrait) {
            padding: 5%;
        }
    }
    figure {
        margin: 0;
        line-height: 0;
        svg {
            width:  clamp(80px, 11vw, 200px);
            height: clamp(80px, 11vw, 200px);
        }
    }
    h1 {
        margin: 0;
        width: fit-content;
    }
    h2 {
        max-width: 36ch;
    }
    nav {
        text-align: right;
        text-transform: uppercase;
        a {
            color: white;
            text-decoration: none;
            white-space: nowrap;
        }
        ul {
            padding: 0;
            margin: 0 auto;
            list-style: none;
        }
        li {
            position: relative;
            padding-right: 1.3em;
            >* {
                padding: 0.5em 1em;
                display: inline-block;
            }
            span {
                cursor: default;
            }
            &::before {
                content: "\2022";
                font-family: Arial, Helvetica, sans-serif;
                font-size: 220%;
                line-height: 1;
                color: rgb(6, 243, 249);
                position: absolute;
                right: 0;
                transition: filter 300ms linear;
            }
            &::after {
                content: "";
                border-right: 1px solid;
                color: rgb(6, 243, 249);
                position: absolute;
                height: 100%;
                top: 0;
                font-size: 220%;
                font-family: Arial, Helvetica, sans-serif;
                right: calc(0.183em - 1px);
            }
            &.act::before,
            &:hover::before {
                filter: drop-shadow(0px 0px 8px rgb(6, 243, 249) )
                        drop-shadow(0px 0px 5px rgb(6, 243, 249));
            }
        }
    }
    .hfull {
        >div {
            order: 3;
            width: 100%;
        }
    }
    .hsmall {
        transform: translateY(-100%);
        transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        position: absolute;
        top: 0;
        width: 100%;
        min-height: unset;
        background-color: #060433;
        padding: .2rem 5%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        figure {
            height: 6rem;
        }
        svg {
            width: 13rem;
            height: 13rem;
        }
        nav {
            display: grid;
            align-items: center;
            overflow: auto;
            position: relative;

            &::before,
            &::after {
                content: '';
                position: fixed;
                top: 0;
                z-index: 1;
                width: 3em;
                height: 100%;
                background-image: linear-gradient(to right, #060433, rgba(#060433, 0));
            }
            &::after {
                right: 5%;
                background-image: linear-gradient(to left, #060433, rgba(#060433, 0));
                @media screen and (min-width: 40em) {
                    right: 0;
                }
            }


            button {
                border: none;
                background: none;
                cursor: pointer;
            }
            ul {
                display: flex;
                li:first-child {
                    margin-left: 2em;
                }
            }
            li {
                padding-right: 0.5em;
                margin-right: 1em;
                &::after {
                    content: none;
                }
            }
            &.open {
                ul {
                    transform: translateY(0);
                }
            }
        }
    }
    &.shorty {
        .hfull {
            visibility: hidden;
        }
        .hsmall {
            transform: translateY(0);
        }
    }
}
.x {
    display: block;
    position: relative;
    width: 2rem;
    height: 2rem;
    &::before,
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: 1px solid #06f3f9;
    }
    &::before {
        transform: rotate(45deg) translate(0%, -47%);
    }
    &::after {
        transform: rotate(-45deg) translate(0%, -47%);
    }
}

// #scroll {
//     position: fixed;
//     z-index: 3;
//     bottom: 3%;
//     left: 50%;
//     transform: translateX(-50%);
//     svg {
//         width: 100%;
//         height: auto;
//         transition: transform .3s cubic-bezier(0.77, 0, 0.175, 1);
//         transform-origin: center;
//     }
//     circle {
//         fill: #060433;
//         stroke: #060433;
//         transition: fill .3s, stroke .3s;
//     }
//     path {
//         stroke: #fff;
//         transition: stroke .3s;
//     }
//     button {
//         cursor: s-resize;
//         width: 6rem;
//         height: 5rem;
//         border: none;
//         background: none;
//         &:hover {
//             circle {
//                 fill: #fff;
//             }
//             path {
//                 stroke: #060433;
//             }
//         }
//         &:active {
//             svg {
//                 transform: scale(1.2);
//             }
//         }
//     }

// }


/* .MAIN */
.m a {
    color: #060433;
    text-decoration: none;
    position: relative;
    display: inline-block;

    &::before {
        content: '';
        position: absolute;
        bottom: -4px;
        left: -1%;
        width: 102%;
        height: 3px;
        background-color: #06f3f9;
        z-index: -1;
        transition: height .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transform-origin: bottom;
    }
    &:hover {
        &::before {
            height: 1.3em;
        }
    }
}
.m >section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4% 4% 4% 8%;
    // border: 1px solid red;
    &::last-child {
        margin-bottom: 100%;
    }


    >div {
        // position: fixed;
        top: 0;
        max-width: 88%;
        margin: 3em 0;
        background-color: rgba(#fff, .8);
        padding: 0 1em;
    }
    p {
        max-width: 26ch;
    }
    h3 {
        font-size: 3.6em;
        margin: 1rem 0;
    }
    figure {
        padding-left: 35%;
    }
    &.sct-2 {
        padding: 4% 4% 4% 4%;
        align-items: flex-end;
        figure {
            padding-left: 0;
            padding-right: 35%;
        }
        p {
            max-width: 36ch;
        }
    }
    &.sct-3 {
        .bg-full {
            padding-left: 0;
        }
    }
}
// .ctrl {
    // background-color: red;
// }
.bg-full {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: grid;
    align-items: center;
    justify-items: end;
    // >div {
    //     position: absolute;
    //     top: 0;
    //     width: 100%;
    //     height: 100%;
    //     display: grid;
    //     align-items: center;
    //     justify-items: end;
    // }
}
#bg-clr {
    background-color: #060433;
}

.mtop {
    margin-top: 3em;
}


video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

svg {
    width: 100%;
    height: auto;
}

// #vid {
//     transition: opacity .3s linear;
// }
#vidarrowpath {
    aspect-ratio: 1/1;
    height: auto;
    width: 50%;
    border-radius: 50%;
    margin-right: 3%;
    border: 1px solid #060433;
    background-color: rgba(#060433, 0.1);
}
#tria {
    overflow: visible;
}
#elements {
    overflow: visible;
    position: relative;
    .arrow-path {
        transform: translate(-45px, -53px);
        // display: none;
        // &.show {
        //     display: initial;
        // }
        // path:nth-child(1) {
        //     // display: block;
        //     // position: absolute;
        //     // top: -45.792px;
        //     // left: -53.666px;
        // }
        // path:nth-child(2) {
        //     stroke: red !important;
        // }
    }
}
#menhome {
    .men {
        >path {
            stroke: transparent;
        }
    }
}

.dark {
    #scroll {
        circle {
            fill: #fff;
            stroke: #fff;
        }

        path {
            stroke: #060433;
        }

        button {
            &:hover {
                circle {
                    fill: #060433;
                }

                path {
                    stroke: #fff;
                }
            }
        }
    }
}

footer {
    bottom: 0;
    width: 100%;
    padding: 4%;
    background-color: #060433;
    color: #fff;
    min-height: 50vh;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;

    p {
        max-width: 31ch;
    }
}

.jsy {
    .h {
        position: fixed;
        height: 0;
    }
    .bg-full {
        position: fixed;
    }
    .m {
        >section {
            min-height: 400vh;
            min-height: 400lvh;
            @media screen and (orientation: portrait) {
                min-height: 300vh;
                min-height: 300lvh;
            }
            >div {
                position: fixed;
                margin: 0;
            }
            @media screen and (orientation: portrait) {
                figure {
                    padding-left: 0;
                    margin-top: calc(5rem + 2%);
                    height: 50%;

                    ~div {
                        margin-top: 25vh;
                        margin-top: 25dvh;
                    }
                }

                &.sct-2 {
                    figure {
                        padding-right: 0;
                    }
                }
            }
        }
    }
    footer {
        position: fixed;
    }
}
