.container {
  width: 100vw;
  height: 100vh;
  background: #232323;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  fill: #F6EF03;
  fill: #00AEEF;
  fill: #fff;
  width: 40%;
}

rect {
  color: red;
}

.cls-1 {
  fill: #FD07D6;
  animation: line-ani 2s ease forwards, fill 0.5s ease forwards infinite;
}

@keyframes line-ani {
  from {
    fill: #FD07D6;
  }
  to {
    fill: #000;
  }
}


